<!DOCTYPE html>

<!--
[metadata]
{{{metadata}}}
-->

<html>
  <head>
    <title>
      Savr
    </title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">

    <!-- this is only used for rendering the local html file. not when running the service or app -->
    <link rel="stylesheet" href="../static/web.css" />

    <!-- this is for when rendering in the web app -->
    <link rel="stylesheet" href="static/shared/web.css" />

    {{{ head }}}

  </head>
  <body>

    <div id="savr-root">
      <div id="savr-metadata">
        <h1>Savr</h1>
        <div id="savr-content">
        <pre>
{{{ content }}}
        </pre>

        <a href=https://github.com/jonocodes/savr>Savr project homepage</a>
        </div>
      </div>
    </div>

  </body>
</html>
