# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
**/*.swp

# Environment files
.env*

# Test files
tests
test_data
test-server
coverage
.playwright
playwright-report
test-results

# Storybook
.storybook
storybook-static

# Misc
*.md
*.log
.flox
result
.DS_Store
