/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* p,
pre { */
  /* I manually added this because I dont like how tailwind was removing space between paragraphs. */
  /* margin: revert;
} */


  html {
    color-scheme: light dark;
    /* Disable pull-to-refresh gesture on mobile browsers */
    overscroll-behavior-y: contain;
  }

  body {
    /* Additional safeguard to prevent pull-to-refresh */
    overscroll-behavior-y: contain;
  }
/* 
  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  } */

