## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##               https://flox.dev/docs/concepts/manifest
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1


## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]
nodejs = { pkg-path = "nodejs" }
imagemagick.pkg-path = "imagemagick"
playwright.pkg-path = "playwright"
playwright.version = "1.54.1"
#playwright.pkg-path = "playwright"
#playwright-driver.pkg-path = "playwright-driver"
#cairo.pkg-path = "cairo"
#pango.pkg-path = "pango"
# nspr.pkg-path = "nspr"
# nss.pkg-path = "nss"
# dbus.pkg-path = "dbus"
# cups.pkg-path = "cups"
# libgbm.pkg-path = "libgbm"
# libgbm.systems = ["x86_64-linux", "aarch64-linux"]
# libxrandr.pkg-path = "libxrandr"
# libxdamage.pkg-path = "libxdamage"
# libxfixes.pkg-path = "libxfixes"
# udev.pkg-path = "udev"
# udev.systems = ["x86_64-linux", "aarch64-linux"]
# atk.pkg-path = "atk"
# libxcomposite.pkg-path = "libxcomposite"
# libxkbcommon.pkg-path = "libxkbcommon"
# alsa-lib.pkg-path = "alsa-lib"
# alsa-lib.systems = ["aarch64-linux", "x86_64-linux"]


## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]
JONO_FLOX="yes!"
PLAYWRIGHT_SKIP_VALIDATE_HOST_REQUIREMENTS="true"

#PLAYWRIGHT_BROWSERS_PATH=$(nix build --print-out-paths nixpkgs#playwright.browsers)

# INTRO_MESSAGE = "It's gettin' Flox in here"


## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
on-activate = """
  # Autogenerated by Flox

  # Install nodejs dependencies
  npm install

  # End autogenerated by Flox
"""


## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
common = '''

'''

# common = '''
#   gum style \
#   --foreground 212 --border-foreground 212 --border double \
#   --align center --width 50 --margin "1 2" --padding "2 4" \
#     $INTRO_MESSAGE
# '''
## Shell specific profiles go here:
# bash = ...
# zsh  = ...
fish = '''
set -x PLAYWRIGHT_BROWSERS_PATH $(nix build --print-out-paths nixpkgs#playwright.browsers)
'''


## Services ----------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## -------------------------------------------------------------------
[services]
# myservice.command = "python3 -m http.server"
web.command = "cd web && npm run web"

## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
systems = [
  "aarch64-darwin",
  "aarch64-linux",
  "x86_64-darwin",
  "x86_64-linux",
]
# Uncomment to disable CUDA detection.
# cuda-detection = false
